@import "~bootstrap/scss/bootstrap"; 
@import "./variables.scss";

body { margin: 0; }
.ctr-body {
    width: 85%;
    overflow-x: hidden;
}
.hoverable { &:hover { cursor: pointer; } }
.shadow-1 { box-shadow: 0px 2px 18px #22222836; }